Node-RED/exercise-C/esquemas_nodeRED.json
[
    {
        "id": "d3950764cb3d080a",
        "type": "tab",
        "label": "Temperatura_Humedad",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d3d5c20d8d26470",
        "type": "serial in",
        "z": "d3950764cb3d080a",
        "name": "DTH11",
        "serial": "d1abb2885b4382dc",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "388c8bca786a4f3e"
            ]
        ]
    },
    {
        "id": "388c8bca786a4f3e",
        "type": "json",
        "z": "d3950764cb3d080a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "d35c8b8bd8ead9bb",
                "fbaf54769447e3f2"
            ]
        ]
    },
    {
        "id": "1a182752a295e97a",
        "type": "ui_gauge",
        "z": "d3950764cb3d080a",
        "name": "",
        "group": "2bc0f7ea72fee331",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad Relativa",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "aee79e58ee8d4ca0",
        "type": "ui_chart",
        "z": "d3950764cb3d080a",
        "name": "",
        "group": "2bc0f7ea72fee331",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humedad con el tiempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d35c8b8bd8ead9bb",
        "type": "function",
        "z": "d3950764cb3d080a",
        "name": "GPS",
        "func": "//Variable GPS\nvar gps = {};\n//Obtencion de datos del JSON enviado\ngps.payload = msg.payload;\n\n//Llenado del JSON del flujo world-map con la informacion recibida\ngps.payload = {\n    \"name\": gps.payload.id,\n    \"lat\": gps.payload.latitud,\n    \"lon\": gps.payload.longitud,\n    \"command\":{\n        \"zoom\": 18,\n    },\n    \"label\": \"Fundación Universitaria de San Gil\",\n    \"weblink\": \"https://unisangil.edu.co/?page_id=5302\",\n    \"icon\": \"fa-thermometer-empty\",\n    \"iconColor\": \"#333cff\"\n}\n\nreturn gps;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "502943797cb09b54"
            ]
        ]
    },
    {
        "id": "502943797cb09b54",
        "type": "ui_worldmap",
        "z": "d3950764cb3d080a",
        "group": "3a461130504e908c",
        "order": 4,
        "width": "8",
        "height": "9",
        "name": "Ubicación",
        "lat": "5.619946753099799",
        "lon": "-73.81695983778687",
        "zoom": "18",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "deg",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "true",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,NatGeo,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 660,
        "y": 340,
        "wires": []
    },
    {
        "id": "50ab833acfe258a1",
        "type": "ui_gauge",
        "z": "d3950764cb3d080a",
        "name": "",
        "group": "f69e0edf3eddc48c",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "donut",
        "title": "Temperatura Ambiente",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 80,
        "wires": []
    },
    {
        "id": "7eb0a1fe077d74e5",
        "type": "ui_chart",
        "z": "d3950764cb3d080a",
        "name": "",
        "group": "f69e0edf3eddc48c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura en el tiempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#37b31e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "fbaf54769447e3f2",
        "type": "function",
        "z": "d3950764cb3d080a",
        "name": "Temperatura y Humedad",
        "func": "//Creacion de variable para almacenar json\nvar newMsg = {};\n//Copiar los datos del JSON\nnewMsg.payload = msg.payload;\n\n//Extraer atributos del JSON\nvar temperature = {};\nvar humidity = {}\n//Pasar información del json\ntemperature.payload = newMsg.payload.Temperatura;\nhumidity.payload = newMsg.payload.Humedad;\n//Retornar valores en cualquier orden\n\nreturn [temperature, humidity]\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 180,
        "wires": [
            [
                "50ab833acfe258a1",
                "7eb0a1fe077d74e5"
            ],
            [
                "1a182752a295e97a",
                "aee79e58ee8d4ca0"
            ]
        ]
    },
    {
        "id": "127b15188cd973d4",
        "type": "worldmap",
        "z": "d3950764cb3d080a",
        "name": "Ubicación",
        "lat": "5.619946753099799",
        "lon": "-73.81695983778687",
        "zoom": "18",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,NatGeo,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "d1abb2885b4382dc",
        "type": "serial-port",
        "name": "ArduinoUno",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "}",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "2bc0f7ea72fee331",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "2b1c220b7fae79d7",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a461130504e908c",
        "type": "ui_group",
        "name": "Localización",
        "tab": "2b1c220b7fae79d7",
        "order": 5,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f69e0edf3eddc48c",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "2b1c220b7fae79d7",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b1c220b7fae79d7",
        "type": "ui_tab",
        "name": "Lab III. Sensor de temperatura y humedad (DHT11)",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]