exercise-A/CodigoNode-RED.json
[
    {
        "id": "84a0280f899f6ffd",
        "type": "tab",
        "label": "Arduino_Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ee1ce8ddaffb7df8",
        "type": "inject",
        "z": "84a0280f899f6ffd",
        "name": "LED_POWER",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "0,25",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 80,
        "wires": [
            [
                "c48aef1458ed7e0f"
            ]
        ]
    },
    {
        "id": "6b5043e8624651ee",
        "type": "inject",
        "z": "84a0280f899f6ffd",
        "name": "LED_OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "c48aef1458ed7e0f"
            ]
        ]
    },
    {
        "id": "c48aef1458ed7e0f",
        "type": "arduino out",
        "z": "84a0280f899f6ffd",
        "name": "LedA",
        "pin": "6",
        "state": "PWM",
        "arduino": "c85a8aa8240599ea",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "8ade69c142153903",
        "type": "ui_slider",
        "z": "84a0280f899f6ffd",
        "name": "",
        "label": "Ajuste de luminosidad",
        "tooltip": "",
        "group": "5392976550e066f3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 420,
        "y": 260,
        "wires": [
            [
                "c48aef1458ed7e0f",
                "022705ab24f91656"
            ]
        ]
    },
    {
        "id": "fb37d069eeb4c549",
        "type": "ui_button",
        "z": "84a0280f899f6ffd",
        "name": "",
        "group": "f9aae6752a69d385",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Encender ",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "c48aef1458ed7e0f"
            ]
        ]
    },
    {
        "id": "b015d8b7dc71c004",
        "type": "ui_button",
        "z": "84a0280f899f6ffd",
        "name": "",
        "group": "f9aae6752a69d385",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apagar",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "c48aef1458ed7e0f"
            ]
        ]
    },
    {
        "id": "022705ab24f91656",
        "type": "ui_gauge",
        "z": "84a0280f899f6ffd",
        "name": "",
        "group": "5392976550e066f3",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Control de luminosidad",
        "label": "unidades",
        "format": "{{value}}",
        "min": 0,
        "max": "255",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "64",
        "seg2": "128",
        "diff": false,
        "className": "",
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "c85a8aa8240599ea",
        "type": "arduino-board",
        "device": "COM2"
    },
    {
        "id": "5392976550e066f3",
        "type": "ui_group",
        "name": "LUMINOSIDAD",
        "tab": "175082de7b097594",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f9aae6752a69d385",
        "type": "ui_group",
        "name": "ENCENDER Y APAGAR LED",
        "tab": "175082de7b097594",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "175082de7b097594",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]